{% extends 'restaurant/gatewaybase.html' %}
{% load static %}
{% block content %}

  <!-- based on gatewaybase.html
      functionality:
      1. profile page
      2. permission grabber-->
  <body>
  {% if user.is_authenticated %}
  <div class="wrapper">
      <div class="sidebar" data-active-color="rose" data-background-color="black">
          <div class="logo">
              <a href="." class="simple-text">
                  Raccoon Express
              </a>
          </div>
          <div class="logo logo-mini">
              <a href="/" class="simple-text">
                  Home
              </a>
          </div>
          <div class="sidebar-wrapper">
              <div class="user">
                  <div class="photo">
                      <img src="{% static "restaurant/img/faces/avatar.jpg" %}" />
                  </div>
                  <div class="info">
                      <a data-toggle="collapse" href="#collapseExample" class="collapsed">
                          {{ username }}
                          <b class="caret"></b>
                      </a>
                      <div class="collapse" id="collapseExample">
                          <ul class="nav">
                              <li>
                                  <a href="#">My Profile</a>
                              </li>
                              <li>
                                  <a href="#">Edit Profile</a>
                              </li>
                          </ul>
                      </div>
                  </div>
              </div>

              <ul class="nav">
  								<li class="active">
  									<a href="/server">
  											<i class="material-icons">room_service</i>
  											<p>Waiter</p>
  										</a>
  									</li>
              </ul>

          </div>
      </div>
      <div class="main-panel">
          <nav class="navbar navbar-transparent navbar-absolute">
              <div class="container-fluid">
                  <div class="navbar-minimize">
                      <button id="minimizeSidebar" class="btn btn-round btn-white btn-fill btn-just-icon">
                          <i class="material-icons visible-on-sidebar-regular">more_vert</i>
                          <i class="material-icons visible-on-sidebar-mini">view_list</i>
                      </button>
                  </div>
                  <div class="navbar-header">
                      <button type="button" class="navbar-toggle" data-toggle="collapse">
                          <span class="sr-only">Toggle navigation</span>
                          <span class="icon-bar"></span>
                          <span class="icon-bar"></span>
                          <span class="icon-bar"></span>
                      </button>
                      <a class="navbar-brand" href="#"> . </a>
                  </div>
                  <div class="collapse navbar-collapse">
                      <ul class="nav navbar-nav navbar-right">
                          <li class="dropdown">
                              <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                  <i class="material-icons">notifications</i>
                                  <span class="notification">{{current_alert_list.count}}</span>
                                  <p class="hidden-lg hidden-md">
                                      Notifications
                                      <b class="caret"></b>
                                  </p>
                              </a>
                              <ul class="dropdown-menu">
                                {% if current_alert_list %}
                                    {% for alert in current_alert_list %}
                                    <li><a href="{% url 'restaurant:alertdetails' alert.id %}">Table #{{ alert.Order.Table }} - {{alert.Message}}</a></li>
                                    {% endfor %}
                                {% else %}
                                    <li><a href="">No current alerts</a></li>
                                {% endif %}
                              </ul>
                          </li>

                          <li "dropdown">
                              <a href="#pablo" class="dropdown-toggle" data-toggle="dropdown">
                                  <i class="material-icons">person</i>
                                  <p class="hidden-lg hidden-md">Profile</p>
                              </a>
                              <ul class="dropdown-menu">
                                  <li>
                                      <a href="/logout">Sign Out</a>
                                  </li>
                              </ul>
                          </li>

                          <li class="separator hidden-lg hidden-md"></li>
                      </ul>
                      <form class="navbar-form navbar-right" role="search">
                          <div class="form-group form-search is-empty">
                              <input type="text" class="form-control" placeholder="Search">
                              <span class="material-input"></span>
                          </div>
                          <button type="submit" class="btn btn-white btn-round btn-just-icon">
                              <i class="material-icons">search</i>
                              <div class="ripple-container"></div>
                          </button>
                      </form>
                  </div>
              </div>
          </nav>


  <!--Main Content starts here -->

          <div class="content">
              <div class="container-fluid">
  							<div class="row">     <!-- Row1 Start-->

                  <div class="col-md-4">
                    <div class="card">
                      <div class="card-header card-header-icon" data-background-color="orange">
                        <i class="material-icons">assignment</i>
                      </div>
                      <div class="card-content">
                        <h4 >Existing Orders</h4>
                          <a href="{% url 'restaurant:orders' %}">Order List</a>
                       </div>
                    </div>
                  </div>

                  <div class="col-md-4">
                    <div class="card">
                      <div class="card-header card-header-icon" data-background-color="green">
                        <i class="material-icons">room_service</i>
                      </div>
                      <div class="card-content">
                        <h4 >New Order</h4>
                        <a class="cardtitle" href="{% url 'restaurant:orderstart' %}">Create</a>
                       </div>
                    </div>
                  </div>

  									<div class="col-md-4">
  										<div class="card">
  											<div class="card-header card-header-icon" data-background-color="red">
  												<i class="material-icons">notifications</i>
  											</div>
  											<div class="card-content">
  												<h4 class="cardtitle">Alerts</h4>
                            {% if current_alert_list %}
                                <ul>
                                  {% for alert in current_alert_list %}
                                    <li><a href="{% url 'restaurant:alertdetails' alert.id %}">Table #{{ alert.Order.Table }} - {{alert.Message}}</a></li>
                                    {% endfor %}
                                  </ul>
                                  {% else %}
                                  <p>No current alerts</p>
                            {% endif %}
  											</div>
  										</div>
  									</div>

              </div>    <!-- Row1 End-->
            </div>
          </div>


          <footer class="footer">
              <div class="container-fluid">
                  <nav class="pull-left">
                      <ul>
                          <li>
                              <a href="/">
                                  Home
                              </a>
                          </li>
                          <li>
                              <a href="#">
                                 About Us
                              </a>
                          </li>
                          <li>
                              <a href="/login">
                                 Restaurant login
                              </a>
                          </li>
                  </nav>
                  <p class="copyright pull-right">
                      &copy;
                      <script>
                          document.write(new Date().getFullYear())
                      </script>
                      Made by the most awesome Group 4
                  </p>
              </div>
          </footer>
      </div>
  </div>
    {% else %}
      <h1><a href="/login">Please Login</a></h1>
    {% endif %}
  </body>
  {% endblock %}
